<h1>The Hikes</h1>
<a href="/hikes/new" ><h3 id="create-hike-link">Create a Hike!</h3></a>
<% Hike.all.each do |hike| %>
<a href="/hikes/<%=hike.id%>"> <h2> <%= hike.name %> </h2> 
<h3>-<%=hike.location%></h3> </a>
<p> created by <a href="/users/<%=hike.user.username%>"><%= hike.user.username %> </p> </a>
<h3> Difficulty: <%= hike.difficulty %> </h3>
<h3> Rating: <%= hike.rating %> </h3>
<%end%>
