<a href="/hikes"><p>The Hikes</p></a>

<h1> <%= @hike.name %> </h1>
<p>created by <%=@hike.user.username%> </p>

<h3> Difficulty <%= @hike.difficulty %> </h3>
<h3> Rating <%= @hike.rating %> </h3>

<form method="post" action="/hikes/<%=@hike.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Hike">
</form>

<a href="/hikes/<%=@hike.id%>/edit">Edit Hike </a>

<h2>add a comment</h2>

<form action="/comments/new" method="post">
<label for="content"> </label>
<input type="text" name="content">
<input type="submit" value="Submit">
</form>

<%@hike.comments.all.each do |comment|%>
<p><%= comment.content%></p>
<%end%>