<a href="/hikes" id="the-hikes">The Hikes</a>
<a href="/users/<%=current_user.username%>" id="my-hikes-link"><h3>My Hikes</h3></a>
<a href="/logout" ><h3 id="logout-link">logout</h3></a>
<h1> <%= @hike.name %> </h1><h2><%=@hike.location%></h2>
<p>created by <a href="/users/<%=@hike.user.username%>"> <%="#{@hike.user.username}"%></a></p>
<h3> Difficulty: <%= @hike.difficulty %> </h3>
<h3> Rating: <%= @hike.rating %> </h3>

<div id="display-desciption">
<%=@hike.description%>
</div>
<br>
<%if current_user == @hike.user%>
<div id="delete-edit-hike-div">
<form method="post" action="/hikes/<%=@hike.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Hike">
</form>

<a href="/hikes/<%=@hike.id%>/edit" id="edit-hike-link">Edit Hike </a>
</div>
<%end%>
<h2>add a comment</h2>

<form action="/comments/new" method="post">
<label for="content"> </label>
<input type="hidden" name="hike_id" value=<%=@hike.id%>>
<textarea name="content" id="comment-input"></textarea>
<input type="submit" value="Submit" id="comment-submit">
</form>

<% @hike.comments.each do |c| %>
<strong><%= c.user.username%></strong>
<br>
<%= c.content %>
<br>
<%end%>