<h1>The Hikes</h1>

<a href="/hikes/new"><h3>Create Hike</h3></a>

<% Hike.all.each do |hike| %>
<a href="/hikes/<%=hike.id%>"> <h2> <%= hike.name %> </h2> </a>
<a href="/hikes/<%=hike.user.username%>"> <p> <%= hike.user.username %> </p> </a>
<h3> Difficulty: <%= hike.difficulty %> </h3>
<h3> Rating: <%= hike.rating %> </h3>
<%end%>
